// Fonts:
$font-jetbrains-xtra-light-name: "JetBrainsExtraLight";
$font-jetbrains-xtra-light-path: "../assets/fonts/jetbrains/JetBrainsMono-ExtraLight";

$font-jetbrains-xtra-light-italic-name: "JetBrainsExtraLightItalic";
$font-jetbrains-xtra-light-italic-path: "../assets/fonts/jetbrains/JetBrainsMono-ExtraLight-Italic";

$font-jetbrains-semi-light-name: "JetBrainsSemiLight";
$font-jetbrains-semi-light-path: "../assets/fonts/jetbrains/JetBrainsMono-SemiLight";

$font-jetbrains-semi-light-italic-name: "JetBrainsSemiLightItalic";
$font-jetbrains-semi-light-italic-path: "../assets/fonts/jetbrains/JetBrainsMono-SemiLight-Italic";

$font-jetbrains-light-name: "JetBrainsLight";
$font-jetbrains-light-path: "../assets/fonts/jetbrains/JetBrainsMono-Light";

$font-jetbrains-light-italic-name: "JetBrainsLightItalic";
$font-jetbrains-light-italic-path: "../assets/fonts/jetbrains/JetBrainsMono-Light-Italic";

$font-jetbrains-regular-name: "JetBrainsRegular";
$font-jetbrains-regular-path: "../assets/fonts/jetbrains/JetBrainsMono-Regular";

$font-jetbrains-bold-name: "JetBrainsBold";
$font-jetbrains-bold-path: "../assets/fonts/jetbrains/JetBrainsMono-Bold";

$font-jetbrains-bold-italic-name: "JetBrainsBoldItalic";
$font-jetbrains-bold-italic-path: "../assets/fonts/jetbrains/JetBrainsMono-Bold-Italic";

$font-jetbrains-italic-name: "JetBrainsItalic";
$font-jetbrains-italic-path: "../assets/fonts/jetbrains/JetBrainsMono-Italic";

$font-jetbrains-medium-name: "JetBrainsMedium";
$font-jetbrains-medium-path: "../assets/fonts/jetbrains/JetBrainsMono-Medium";

$font-jetbrains-medium-italic-name: "JetBrainsMediumItalic";
$font-jetbrains-medium-italic-path: "../assets/fonts/jetbrains/JetBrainsMono-Medium-Italic";

$font-jetbrains-xtra-bold-name: "JetBrainsExtraBold";
$font-jetbrains-xtra-bold-path: "../assets/fonts/jetbrains/JetBrainsMono-ExtraBold";

$font-jetbrains-xtra-bold-italic-name: "JetBrainsExtraBoldItalic";
$font-jetbrains-xtra-bold-italic-path: "../assets/fonts/jetbrains/JetBrainsMono-ExtraBold-Italic";